<div class="container text-dark">
    <div>
        <h1>Contact Information</h1>
        <h3>Dear Customers,

            Welcome to Sports Motors Customer Care.
            
            On behalf of the entire Sports Motors Customer Care Team - Passenger Vehicle Business Unit, it is my great pleasure to have you become a part of our ever growing family.
            <br>
            <br>
            At Sports Motors, our constant endeavor is to keep our customers at the core of our service by providing them with support at all times of need. Being one of the most trusted Indian companies in the automotive industry, we work together as a family to achieve our single focused goal – to keep evolving ourselves to serve you better.
            
            Keeping the above goal in mind, we have our three core service promises which we abide by – Responsive, Reliable, and Best Value.
            <br>
            <br>
            Responsive - to cater your to your service requirements & provide end to end after sales support.
            <br>
            <br>
            Reliable - consistently dependable high quality service.
            <br>
            <br>
            Best Value - services & products to suit vehicle needs.</h3>
            <hr>
            <h2>Contact - Us At: <p>Phone : <strong>1800-209-5554</strong></p> <p>Email : <strong>sports_cars@gmail.com </strong> </p> </h2>
    </div>
</div>