<div class="container text-white m-3 p-3">
    <h2 class="text-center" style="margin-left: 300px;">Login/Signup</h2>
    <form>
          <div class="row m-5">
              <div class="col-2"></div>
              <div class="col-3 mb-3 form-floating">
                <label for="Un" class="form-label">UserName</label>
               </div>
               <div class="col-7 mb-3 form-floating">
                  <input type="text" placeholder="text" name="username" id="Un" class="form-control">
                  <label for="Un" class="text-dark p-3">Enter your username</label>
               </div>
            </div>
            <div class="row m-5">
                <div class="col-2"></div>
                <div class="col-3 mb-3 form-floating">
                  <label for="pass" class="form-label">Password</label>
                 </div>
                 <div class="col-7 mb-3 form-floating">
                    <input type="text" placeholder="password" name="password" id="pass" class="form-control">
                    <label for="pass" class="text-dark p-3">Enter your password</label>
                 </div>
          </div>
          <button type="submit" class="btn btn-success text-dark d-block ms-auto ps-3 pe-3" style="margin-right: 450px;">Login</button>
    </form>
</div>