<div class="container">
    <h2 class="text-center text-dark">Registration form</h2>
    <form>
          <div class="row text-dark mx-auto">
              <div class="col-2 m-3">
                    <label for="Fn" class="form-label d-block"><strong>FirstName</strong></label>
              </div>
              <div class="col-9 m-3">
                    <input type="text" name="firstname" id="Fn" class="form-control">
              </div>
              <div class="col-2 m-3">
                  <label for="Ln" class="form-label d-block"><strong>LastName</strong></label>
              </div>
              <div class="col-9 m-3">
                  <input type="text" name="lastname" id="Ln" class="form-control">
              </div>
              <div class="col-2 m-3">
                  <label for="Em" class="form-label d-block"><strong>Email</strong></label>
              </div>
              <div class="col-9 m-3">
                  <input type="email" name="email" id="Em" class="form-control">
              </div>
              <div class="col-2 m-3">
                  <label for="Dob" class="form-label d-block"><strong>Date of Birth</strong></label>
               </div>
               <div class="col-9 m-3">
                  <input type="date" name="dob" id="Dob" class="form-control">
               </div>
               <div class="col-2 m-3">
                  <label for="Un" class="form-label d-block"><strong>UserName</strong></label>
               </div>
               <div class="col-9 m-3">
                  <input type="text" name="username" id="Un" class="form-control">
              </div>
              <div class="col-2 m-3">
                  <label for="Pw" class="form-label d-block"><strong>Password</strong></label>
              </div>
             <div class="col-9 m-3">
                  <input type="password" name="password" id="Pw" class="form-control">  
             </div>
          </div>
          <button type="submit" class="btn btn-success text-light d-block mx-auto m-5 ps-3 pe-3">Register</button>
    </form>
</div>